@font-face {
  font-family: 'ApercuArabicRegular';
  src: url('../fonts/apercu-arabic-regular-trial.otf') format('opentype');
  /* Add additional formats for better compatibility if needed */
}
body {
  margin: 0;
  font-family: 'ApercuArabicRegular', sans-serif;
  display: flex;
  flex-direction: column;
}

body.home {
  background-image: url('../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

}


/* slideshpw css*/

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.mySlides {
  display: none;
  width: 100%;
}

img {
  width: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/*nav css*/
nav {
  position: relative;

  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
}

nav h1 {
  font-size: 21px;
  color: black;
  margin-left: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  /* margin-top: 0%; */
  margin-right: 42%;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none; /* No underline by default */
  color: black; /* Default text color */
  position: relative; /* Needed for positioning the pseudo-element */
  transition: color 0.3s ease; /* Smooth transition for color changes */
}

nav a:hover {
  color: #a9a9a9; /* Light grey color on hover */
}

nav a:focus {
  outline: none; /* Removes the default focus outline */
}

/* Styles for the active link, which creates the black underline */
nav a.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px; /* Position the pseudo-element under the text */
  left: 0;
  width: 100%; /* Full width of the text */
  height: 3px; /* Height of the underline */
  background-color: black; /* Color of the underline */
}
.nav-icon {
  width: 30px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px; /* Adjust the margin for spacing */
}

.nav-image-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px; /* Adjust the padding as needed */
  display: flex;
  align-items: center;
}

.nav-image {
  height: 50px; /* Adjust the size as needed */
  width: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.content-container h1 {
  margin-bottom: 13%;
  font-size: 30px;
  text-align: left;
  color: white;
  margin-right: 55%;
  padding-left: 1%;
}




.top-container {
  display: flex;
  flex-direction: column; /* Updated to stack items vertically */
  justify-content: center;
  align-items: center;
  width: 27%;
  margin-left: 37%;
  padding-top: 23px;
  padding-bottom: 33px;
}

.top-container img {
  max-width: 100%;
  height: auto;
  margin-top: 10px; /* Added to provide some spacing between the heading and the image */
}

.audio-player-container {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  border: 2px solid #8e3201; /* Circle color */
  border-radius: 50%; /* Make it round */
  display: flex;
  justify-content: center;
  align-items: center;
}



.play-pause-btn {
  background: none;
  border: none;
  font-size: 3rem;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8e3201;
  z-index: 2;
}

#typed {
  display: block;
  /*padding-top: 20vh;
  width: 90%;
  margin: 0 auto;
  margin-top: -24%*/
  margin-left: 8%;
}

#typed-arabic,
#typed-english {
  width: 45%;
  margin-right: 1%;
  min-height: 160px;
  display: inline-block;
  margin: centre;
  padding: 5px;
  box-shadow: 0 0 10px rgba(189 147 124);
  
  vertical-align: top;

}

#typed-arabic {
  direction: rtl;
}

.p-typed-arabic1 {
  text-align: right;
  direction: rtl;
}

.p-typed-arabic2 {
  text-align: right;
  direction: rtl;
}

.p-typed-arabi3 {
  text-align: right;
  direction: rtl;
}



/*about page css*/

.container {
  max-width: 976px;
  margin: 50px auto;
  text-align: center;
}


.top-text {
  display: flex;
  justify-content: space-between;
}

.dual-language {
  display: flex;
  width: 100%;
}

.arabic-text,
.english-text {
  width: 48%; /* Adjust as needed, leaving a small gap for better separation */
}

.arabic-text {
  text-align: right;
}

.english-text {
  text-align: left;
}

.image-container {
  position: relative;
  margin-top: 20px;
}

.top-image, .bottom-image {
  position: relative;
  display: inline-block; /* or block if you prefer */
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Set the text color as needed */
  font-size: 1.5em; /* Adjust the font size as needed */
  text-align: center;
  width: 100%; /* This makes the text span the full width of the parent */
  pointer-events: none; /* Allows clicking through the text to the link below */
}

.top-image:hover img, .bottom-image:hover img {
  opacity: 0.7; /* Darkens the image on hover for better text visibility */
}


.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container a:hover .image-text {
  opacity: 1;
}

#h1About {
  text-align: left;
  margin-left: 3%;
}

.top-text {
  font-family: 'ApercuArabicRegular', sans-serif;
  font-size: 22px;
  background-color: #FFEDDC;
}

.text-right{
  text-align: center;
  padding-right: 9%;
}

.text-center{
  font-size: 29px;
  padding-top: 16px;
  font-weight: bold;
}


.jumbotron {
  position: relative;
  background: url('../images/about.jpg') center/cover no-repeat;
  padding: 150px 0; /* Increased padding for a wider image */
}

.jumbotron-2 {
  position: relative;
  background: url('../images/stories-heading.jpg') center/cover no-repeat;
  padding: 23px 0; /* Increased padding for a wider image */
}

.jumbotron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  backdrop-filter: blur(2.5px); /* Adjust the blur amount */
}

.jumbotron-2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  backdrop-filter: blur(2.5px); /* Adjust the blur amount */
}
.jumbotron .text-overlay {
  position: relative;
  z-index: 1; /* Ensure the text is above the background overlay */
}
.jumbotron-2 .text-overlay {
  position: relative;
  z-index: 1; /* Ensure the text is above the background overlay */
}
.jumbotron h1,
.jumbotron p {
  color: white;
}

/* old house css*/
#about-text-box{
  font-size: 11px;
}
/* stories css */
.stories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.stories-container a {
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  width: 48%; /* Set a width to leave space between images */
}

.stories-container img {
  width: 50%;
  height: auto;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.stories-container a:hover img {
  filter: brightness(80%);
}

.stories-text {
  margin-top: 5px;
  color: black;
  font-weight: bold;
}

/*slideshow css */

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin-top: 4%;
  margin-bottom: -1%;
}

/* Set 50% width for images */
.carousel-item img {
  width: 55vh;
  height: auto;
  margin: 0 auto;
}
.footer {
  background-color: #f0f0f0; /* Light grey background */
  color: #333; /* Dark grey text color */
  padding: 15px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Wrap items for smaller screens */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-socials {
  margin-right: -11%;

}

.social-icon {
  color: #333; /* Dark grey icons */
  margin-right: 10px; /* Space between icons */
  font-size: 20px; /* Icon size */
}

.social-icon:hover {
  color: #666; /* Slightly lighter grey on hover */
}

.footer-branding {
  flex-basis: 60%; /* Take up 60% of the footer width */
  text-align: center;
  line-height: 1.5; /* Space between lines */
}

.footer-branding p {
  margin: 0px;
  text-align: left;
  margin-left: -16%;

}

.nav-container { /* the container around your nav */
  position: relative; /* Relative position */
}

.hamburger-menu {
  display: none; /* Hide by default, it will be shown in the media query */
  cursor: pointer;
  position: relative; /* Use position relative instead of absolute */

  margin-right: 10px; /* Add space from the right edge */
  position: absolute;
  top: 0; /* Adjust as needed */
  right: 0; /* Adjust as needed */
  z-index: 1000; /* As before */
}

/* Fullscreen Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  left: 0;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/ opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the overlay */
}

/* Overlay content */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text */
  margin-top: 30px; /* 30px top margin */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px; /* Padding */
  text-decoration: none; /* No underline */
  font-size: 36px; /* Large font size */
  color: #818181; /* Gray color */
  display: block; /* Block level elements */
  transition: 0.3s; /* Transition for hover effect */
}

/* Hover effect for links */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; /* Lighter grey text */
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; /* Large close button */
}



@media  ( max-width: 3840px)
  {

    #typed-arabic,
    #typed-english {
      width: 41%;
      margin-right: 5%;
      min-height: 160px;
      display: inline-block;
      margin: centre;
      padding: 5px;
      box-shadow: 0 0 10px rgba(189 147 124);
      vertical-align: top;
    
    }
}









@media (max-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will place the items on opposite ends */
  }

  #about-me{
    text-align: center;
  }
  .container {
    width: 100%; /* This should be set to ensure the container is not wider than the screen */
    padding: 0 15px; /* Adjust padding if necessary */
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  }

  .footer-branding,
  .footer-socials {
    flex: 1 1 auto; /* Allows items to grow and shrink but not be smaller than content */
    margin: 0; /* Resets any margin */
    text-align: center; /* Centers text for smaller devices */
    padding: 10px 0; /* Gives some top and bottom padding */
  }

  /* You might not need this anymore if using space-between */
  .footer-socials {
    justify-content: flex-end;
  }

  .footer-branding p, .footer-socials {
    margin: 0; /* Removes margin from paragraphs and social links */
    display: block; /* Ensures they are block level for correct text alignment */
  }

  #typed-arabic,
  #typed-english {
    width: 100%;
    margin-right: 5%;
    min-height: 160px;
    display: inline-block;
    margin: centre;
    padding: 5px;
    box-shadow: 0 0 10px rgba(189 147 124);
    vertical-align: top;
  
  }
  #project-info .col-md-6{
    text-align: center;
  }

  #project-info h2{
    text-align: center;
  }
  
  
  .content-container h1 {
    font-size: 26px;
    text-align: left;
    color: white;
    margin-right: 39%;
    padding-left: 1%;
    margin-bottom: 110%;
}

.hamburger-menu {
  display: block; /* Show the menu */
}

/* Hide the horizontal navigation menu */
nav ul {
  display: none;
}

/* Overlay menu size */
.overlay { 
  width: 0; /* Overlay initially hidden */
  height: 100%; /* Fullscreen height */
}
.reset-btn {
  margin: -4px auto;
  margin-left: 75% !important;


}

#nav-image {
  display: none;
}
/* Styles for the close button in overlay */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* Responsive overlay links */
.overlay a {
  font-size: 20px;
}

.nav-image-container {
  display: none;
}

.hamburger-menu {
  display: block;
}

nav ul {
  display: none;
}
nav {
  position: relative;
  z-index: 10; 
  
}

}
#project-info {
  padding-top: 80px; /* Adjust the top padding as needed */
  padding-bottom: 80px; /* Adjust the bottom padding as needed */
  border-bottom: 1px solid black;
}

.section-heading {
  font-size: 36px;
  color: #333; /* Dark text color */
  margin-bottom: 30px;

}

.section-subheading {
  font-size: 24px;
  color: #555; /* Slightly darker text color */
  margin-bottom: 20px;
}

#about-me .profile-image {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin-bottom: 20px; /* Add margin below the image */
}
#about-me {
  margin-bottom: 20px; /* Add some space below the heading */
  text-align: left; /* Center-align the heading */
  border-bottom: 1px solid black; /* Add a black border at the bottom of each section */


}

#h2{
  text-align: center; /* Center-align the heading */
  font-weight: bold !important;
}

#p {
  text-align: center; /* Center-align the heading */
}

#project-info h2 {
  text-align: left; /* left-align the heading */
}

#project-info p {
  text-align: left; 
}

#project-info img {
  margin-top: 9px;
  width: 73%;
}

#project-info {
  padding: 15px 0; 
}
.project-process-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns vertically */
  align-items: center; /* Aligns horizontally */
  height: 100%; /* Or set to the height of the parent container */
  text-align: center; /* This will center the text horizontally */
}

#project-info .col-md-6 {

  align-items: center;
}




.container-syria {
  max-width: 950px;
  margin: 50px auto;
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-image,
.bottom-images {
  display: flex;
}

.top-image {
  margin-bottom: 15px;
}

.bottom-image {
  margin: 0 10px;
}

.images img {
  width: 305px;
}


.container-story{
  max-width: 100%;
}
.img-fluid{
  max-width: 100%;
  height: auto;
  padding: 14px;
}

.card-text {
  border-top: 1px solid black;
  padding-top: 7px;
  margin-top: -7%;
}

.custom-link {
  color: #5a3715 !important;
  transition: color 0.3s ease !important;
}

.custom-link:hover {
  color: #885522 !important;

}
.reset-btn {
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  padding: 15px; /* Padding to make it round, adjust as needed */
  width: 5%;
  margin-left: 56%;
  margin-bottom: 5px;
}

/* Adjust hover and active states as well */
.reset-btn:hover {
  background-color: #e6e6e6; /* Slightly darker grey on hover */
}

.reset-btn:active {
  background-color: #ddd; /* Even darker grey when active/clicked */
}
